<html>
    <Title>Auto-Suggester</Title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>  
    <body>
        <center>
            <h6 class="tD"><%=trainedData%></h6>
            <br><br><br><br>
            <h1>WORD SUGGESTER</h1>
            <h2>Start by typing >= 1 character[s]</h2>
                    <input style="height:60px; font-size:34pt;"
                     type="text" id="word" placeholder="Start typing a word..."
                    width="100" height="100"
                    />  
            <br><br>
            <p></p>   
                    
        </center>
    </body>
    <script src="guessWord.js">
            $(".tD").hide();
        </script>   
    
</html>